@import "./_variables.scss";

@mixin button {
  font-size: 15px;
  font-weight: bold;
  width: 300px;
  border-radius: 5px;
  border-width: 1px;
  border-color: $primaryColor;
  color: $primaryColor;
  background-color: $bgColor;
  transition-duration: 0.3s;
  &:hover {
    background-color:$primaryColor;
    color: $bgColor;
  }
}

@mixin font {
  font-family: 'Roboto', sans-serif;
  font-weight:bolder;
  font-size:3vw;
}

.Logo {
  font-family: 'Smooch', sans-serif;
  font-weight:100;
  margin-top: 8px;
  margin-left: 40px;
  padding-left: 25px;
}

.header-container {
  display: flex;
  height: 9vh;
  width: 100%;
  margin-bottom: 30px;
  @include font;
  color: $primaryTextColor;
  background-color: $bgColor;
  border-bottom: 2px;
  box-shadow: 0px 0px 2px 0px $borderColor;
}

.header-text {
  padding-top: 8px;
  padding-left: 50px
}
.city-input {
  margin-top: 8px;
  height: 7vh;
  width: 280px;
  @include font;
  border:none;
  color: $secondaryColor;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 10px;
}

.submit-city {
  @include button;
  margin-left: 30px;
  width: 150px;
  border-radius: 150px;
  font-size: 48px;
  color:$bgColor;
  background-color: $primaryColor;
    &:hover {
      background-color: $bgColor;
      color:$primaryColor;
    }
}