$bgColor:rgb(38, 38, 39);
$primaryColor:rgb(240, 231, 167);
$secondaryColor:rgb(247, 136, 18);
$ternaryColor:rgb(246, 193, 1);
$primaryTextColor:rgb(240, 231, 222);
$secondaryColor: rgb(179, 116, 58);
$borderColor:rgb(8, 8, 8);

